.movie-card {
    margin-bottom: 10px;
}
.subtitle {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.87);
    display: block;
    line-height: 36px;
}
.overview {
    font-size: 0.8em;
}
.movie-card.card {
    height: 450px;
}
.card {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.card-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.4);
}
a {
   color: #222222;
}
a h4 {
    font-weight: bold;
}
a:focus, a:hover {
    color: #222222;
    text-decoration: none;

}
a:focus, a:hover h4 {
    transform: scale(1.2);
    font-style: italic;

}
.card:hover .card-text {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}